<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!-- CSS only -->
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi'
      crossorigin='anonymous'
    />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi'
      crossorigin='anonymous'
    />
    <title>Handlebars</title>
  </head>
  <body>
    <div>
      <div>

        <div>

          <div class='container mt-3'>
            <h1 class='alert alert-success'>
              Bienvenido,
              {{nombre}}
              <button
                class='btn btn-warning float-right mt-2'
                onclick="location.href='/logout'"
              >
                Desloguear
              </button>
            </h1>
          </div>

          <h1>Agregar producto</h1>

          <form id='formProd'>
            <input
              type='text'
              name='title'
              id='title'
              placeholder='Nombre'
              required
            />
            <input
              type='number'
              name='price'
              id='price'
              placeholder='precio'
              required
            />
            <input
              type='text'
              name='thumbnail'
              id='thumbnail'
              placeholder='Foto'
              required
            />
            <input type='submit' value='Agregar' />
          </form>
          <table class='table table-dark table-striped'>
            <thead>
              <tr>
                <th scope='col'>Nombre</th>
                <th scope='col'>Precio</th>
                <th scope='col'>Foto</th>
              </tr>
            </thead>
            <tbody id='tableBody'>
              {{#each productos}}
                <tr>
                  <td>{{this.title}}</td>
                  <td>${{this.price}}</td>
                  <td><img
                      src='{{this.thumbnail}}'
                      alt='...'
                      class='img-responsive img-thumbnail'
                    /></td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

        <h1>Centro de mensajes</h1>
        <h2 id='compresionChat'></h2>
        <form id='formMsj' class='d-flex flex-column align-items-start'>
          <input type='text' id='userEmail' placeholder='Email...' required />
          <input type='text' id='userNombre' placeholder='Nombre...' />
          <input type='text' id='userApellido' placeholder='Apellido...' />
          <input type='text' id='userEdad' placeholder='Edad...' />
          <input type='text' id='userAlias' placeholder='Alias...' />
          <input type='text' id='userAvatar' placeholder='Avatar...' />
          <input type='text' id='text' placeholder='Cuéntamos algo...' />

          <input type='submit' value='Enviar' />
        </form>

        <div id='messages'>
          {{#each msjs}}
            <div><strong class='text-primary'>{{this.email}}</strong><span
                style='color:brown'
              >[{{this.date}}]</span>:
              <i style='color:green'>{{this.texto}}</i>
              <img width='20' height='20' src='{{this.avatar}}' />`</div>
          {{/each}}
        </div>

      </div>
    </div>
    <script
      src='https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js'
    ></script>

    <script src='./script.js'></script>
  </body>
</html>